#cabecera{
    font-family: cursive;
    color: rgb(21, 108, 42);
    text-align: center;
    
}
body{
    font-size:25px; 
    background-color: rgb(8, 148, 125);
    
}
p{
    border: 2px solid rgb(21, 21, 63);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}