#cabecera{
    font-family: cursive;
    font-weight: bold;
    color: rgb(9, 72, 24);
    background:rgb(68, 176, 93); ;
    text-align: center;
    
    
}
body{
    font-size:25px; 
    background-color: rgb(8, 148, 92);
    
    
}
p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-family: cursive;
    text-align: center;
    color: rgb(9, 72, 24);
    background:rgb(68, 176, 93); 
}